{% extends 'base.html.twig' %}

{% block title %}Ajouter une tâche{% endblock %}

{% block body %}
   <div class="tasks-container">
        <h1 class="mt-5">Gestionnaire de tache</h1>
        {# <a href="{{ path('add_user') }}" class="btn btn-custom">Ajouter un utilisateur</a> #}
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Email</th>
                    <th scope="col">liste de taches</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>  {% if user.taskLists is not empty %}
                                <ul>
                                    {% for taskList in user.taskLists %}
                                        <li>{{ taskList.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <span>Aucune liste de tâches</span>
                            {% endif %}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
